<!doctype html>
<html>
<head>
    <title>Agar.io</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
<canvas id="background_canvas" style="position: absolute; top: 0; left: 0;"></canvas>
<canvas id="canvas" style="position: absolute; top: 0; left: 0;"></canvas>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script src="../vendor/javascripts/fabric.js"></script>
<script type="module" src="../javascripts/script.js"></script>
</html>