* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 13px Helvetica, Arial;

    /*  Stop Scrolling  */
    height: 100%;
    overflow: hidden;
    position: relative;
}

canvas {
    position: absolute;
}

.sep {
    width: 75%;
    height: 1px;
    border-top: 1px solid #a8a8a8;
    margin: 20px auto;
}

.text-danger {
    margin-bottom: 0;
}

.overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(#414246, #57575f, #717179);
    text-align: center;
}

.form {
    margin: 30px auto;
    max-width: fit-content;
    max-height: fit-content;
    border-radius: 5px;
    background: floralwhite;
    padding: 25px 30px;
    text-align: center;
}

.login-form {
    margin-top: 20px;
}

.form-btn {
    display: inline-block;
    margin: 0 20px;
    width: 120px;
}

.info-div {
    margin: 20px 50px;
}

.col-form-label {
    text-align: left;
    font-size: 16px;
}

.form-control-plaintext{
    font-size: 16px;
}

@media only screen and (min-width: 600px) {
    .form {
        min-width: 400px;
    }
}

@media only screen and (min-height: 599px) {
    .form {
        margin-top: calc(50vh - 200px);
    }
}

@font-face{
    font-family:'comic sans ms';
    font-style:normal;
    font-weight:400;
    src:local('Comic Sans MS'),
    local('ComicSansMS-Regular'),
    url(http://allfont.ru/cache/fonts/comic-sans-ms_53a8778a817839ef2dbc5dc94ce14334.woff)
    format('woff'),
    url(http://allfont.ru/cache/fonts/comic-sans-ms_53a8778a817839ef2dbc5dc94ce14334.ttf)
    format('truetype')
}